name: PR Build

# PR build

on:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  packages: read

# just runs Maven and Docker build
jobs:
  build:
    name: "Install software"
    runs-on: [self-hosted, linux, X64]

    steps:
    - name: Set up JDK 25
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 25

    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
         maven-version: 3.9.2        

    - name: checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: '0'

    - run: mvn --version

    - name: Build with Maven
      run: mvn clean -B package --settings .github/workflows/settings.xml --file pom.xml
      env:
         CI: false
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  checks:
    name: "Checks"
    needs: build
    runs-on: [self-hosted, linux, X64]

    steps:
    - name: get helm
      uses: azure/setup-helm@v4

    - name: run helm dependency update
      working-directory: application/target/helm/observatory
      run: helm dep update

    - name: run helm template
      working-directory: application/target/helm
      run: helm template observatory
